* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background: #191353;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
    transition: all .3s;
}

nav .logo {
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 80px;
    padding-left: 100px;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    line-height: 80px;
}

nav ul li a {
    color: #d8d6f5;
    font-size: 20px;
    font-weight: 600;
}

li a:hover {
    color: #786edd;
    transition: .5s;
}

.sec1 {
    background: url(img/background.jpg) no-repeat center;
    background-size: contain;
    height: 100vh;
}

.sec2 {
    background: url(img/boy.jpg) no-repeat center;
    background-size: contain;
    height: 100vh;
}

h1 {
    font-size: 40px;
    padding: 20px 0 10px 20px;
}

p {
    font-size: 20px;
    padding: 0 20px 0 20px;
}